/*@keyframes bg {
	0% {
		background-color: black;
	}
	100% {
		background-image: url("../media/background_desktop.jpg");
	}
}*/

@keyframes infoanimation {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	66% {
		opacity: 1;
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.info {
	opacity: 0;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
	animation-duration: 2s;
	animation-name: infoanimation;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	box-sizing: border-box;
}

.name {
	font-size: 400%;
	font-weight: bold;
	font-family: 'Bitter', serif;
}
.job {
	font-family: 'Roboto', sans-serif;
	font-size: 150%;
	color: #FFE35B;
	font-weight: normal;
}

h5 > a {
	color: #F8991D;
}

.links {
	justify-content: center;
	display: grid;
	grid-template-columns: 32px 32px 32px;
	grid-template-rows: 32px;
	grid-gap: 100px;
}
.icon {
	display: block;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.github {
    background-image: url("../media/github.png");
}

.linkedin {
    background-image: url("../media/linkedin.png");
}

.email {
	background-image: url("../media/mail.png");
}

@media screen and (max-width: 700px) {
	.name {
		font-size: 200%;
	}

	.job {
		font-size: medium;
	}

	.links {
		grid-gap: 32px;
	}
}
