.info {
	opacity: 0;
	display: grid;
	margin-top: 5%;
	justify-content: center;
	grid-template-columns: 30% 30% 30%;
	grid-gap: 5% 2%;
	animation-delay: 1s;
	animation-duration: 1s;
	animation-name: infoannimation;
	animation-fill-mode: forwards;
}

@keyframes infoannimation {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.project {
	display: grid;
	grid-template-rows: auto auto auto;
	/*border: solid 1px black;*/
	background-color: rgba(25, 31, 69, 0.75);
	padding: 1% 1%;
	font-family: "Gill Sans", sans-serif;
}

.project:hover {
	transform: scale(1.1);
	background-color: #4555BF;
}

.ptitle {
	text-align: center;
	font-size: 150%;
	/*font-weight: bold;*/

}

.pdes {
	margin-top: 2%;
	padding: 0 2%;
	margin-bottom: 2%;
}

.ptitle > a {
	color: #FFE35B;
}

@media screen and (max-width: 700px) {
	.info {
		grid-template-columns: 90%;
	}
}